<div class="card">
    <div class="card-body">

        <div class="card-title">
            <h1>Signup</h1>
        </div>

        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="signup-username">Username</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="signup-username" 
                    aria-describedby="signup-username-help"
                    placeholder="Username"
                    formControlName="username"
                    [ngClass]="{'border-danger': !form.controls.username.valid && form.controls.username.touched}">

                <app-form-field-error-msg
                    default="Username should be between 8 to 20 characters. With no special characters."
                    [errors]="backend_validation?.username || []"
                    [control]="form.controls.username"
                ></app-form-field-error-msg>
            </div>
            <div class="form-group">
                <label for="signup-email">Email address</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="signup-email" 
                    aria-describedby="signup-email-help"
                    placeholder="example@example.com"
                    formControlName="email"
                    [ngClass]="{'border-danger': !form.controls.email.valid && form.controls.email.touched}">

                <app-form-field-error-msg
                    default="Please enter a valid email address. example@example.com"
                    [errors]="backend_validation?.email || []"
                    [control]="form.controls.email"
                ></app-form-field-error-msg>
            </div>
            <div class="form-group">
                <label for="signup-password">Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="signup-password"
                aria-describedby="signup-password-help"
                placeholder="password"
                formControlName="password"
                [ngClass]="{'border-danger': !form.controls.password.valid && form.controls.password.touched}">

                <app-form-field-error-msg
                    default="Password is not valid."
                    [errors]="backend_validation?.password || []"
                    [control]="form.controls.password"
                ></app-form-field-error-msg>
            </div>
            <div class="form-group">
                <label for="signup-re-password">Confirm-Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="signup-re-password"
                aria-describedby="signup-re-password-help"
                placeholder="password"
                formControlName="re_passwod"
                [ngClass]="{'border-danger': !form.controls.re_passwod.valid && form.controls.re_passwod.touched}">

                <app-form-field-error-msg
                    default="Password does not match."
                    [control]="form.controls.re_passwod"
                ></app-form-field-error-msg>
            </div>
            <button 
                type="submit" 
                class="btn btn-primary mr-2"
                [disabled]="!form.valid">Signup</button>
            <span>or </span><a [routerLink]="['/auth/login']" class="card-link">Login</a>
        </form>

    </div>
</div>