
<div class="card">
    <div class="card-body border-bottom">
        <div class="d-flex">
            <div class="flex-grow-1">
                <strong>Update your status</strong>
            </div>
            <div>
                <button 
                    type="button" 
                    class="btn btn-sm btn-primary" 
                    (click)="onPost()"
                    [disabled]="!form.controls.content.valid">
                    Post
                </button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="card-text">
            <form [formGroup]="form">
                <textarea 
                    formControlName="content"
                    class="w-100"
                    rows="5"
                    [ngClass]="{'border-danger': !form.controls.content.valid && form.controls.content.touched}"
                    ></textarea>
            </form>

            <app-form-field-error-msg
                default="Post content should be at least 50 charachters"
                [control]="form.controls.content"
            ></app-form-field-error-msg>
        </div>
    </div>
</div>
