<div class="card">
    <div class="card-body">

        <div class="card-title">
            <h1>Login</h1>
        </div>

        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="login-email">Email address</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="login-email" 
                    aria-describedby="login-email-help"
                    placeholder="example@example.com"
                    formControlName="email"
                    [ngClass]="{'border-danger': !form.controls.email.valid && form.controls.email.touched}">

                <app-form-field-error-msg
                    default="Please enter a valid email address. example@example.com"
                    [errors]="backend_validation?.email || []"
                    [control]="form.controls.email"
                ></app-form-field-error-msg>
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input 
                type="password" 
                class="form-control" 
                id="login-password"
                aria-describedby="login-password-help"
                placeholder="password"
                formControlName="password"
                [ngClass]="{'border-danger': !form.controls.password.valid && form.controls.password.touched}">

                <app-form-field-error-msg
                    default="Password is not valid."
                    [errors]="backend_validation?.password || []"
                    [control]="form.controls.password"
                ></app-form-field-error-msg>
            </div>
            <button 
                type="submit" 
                class="btn btn-primary mr-2"
                [disabled]="!form.valid">Login</button>
            <span>or </span><a [routerLink]="['/auth/signup']" class="card-link">signup</a>
        </form>

    </div>
</div>